@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
p{
	font-size: 1rem;
	line-height: 1.6rem;
	text-align: justify;
}
#wrapper{
	position: relative;
}
body{
	font-family: 'Montserrat', Sans-serif;
	font-size: 1.2rem;
}
#header{
	display: flex;
	position: fixed;
	justify-content: space-between;
	background-color: #fca311;
	width: 100%;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
#header-mobile{
	display: none;
}
/*a{
	display: block;
	width: 100%;
	height: 100%;
}*/
#header-img{
	width: 60px;
	height: 40px;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 100px; 
}
#nav-bar{
	margin-right: 100px;
}
#nav-bar ul{
	display: flex;
}
#nav-bar ul li{
	margin: 25px;
	list-style: none;
}
#nav-bar a{
	color: black;
	text-transform: uppercase;
	transition: 0.5s;
}
#nav-bar a:hover{
	color: white;
}
#mobile-nav{
	display: none;
}
#banner-container{
	display: block;
	height: 80%;
}
#img-banner{
	width: 100%;
}
#hero{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

#hero h2{
	font-size: 32px;
	margin-bottom: 20px;
	font-weight: 800;
	text-transform: uppercase;
}
#hero form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#hero input[type="email"]{
	border: 0;
	font-family: inherit;
	display: block;
	border: 2px solid rgba(0, 0, 0, 0.7);
	padding: 10px;
	font-size: 16px;
	border-radius: 24px;
	width: 220px;
	margin-bottom: 10px;
	text-align: center;
	transition: 0.5s;
}
#hero input[type="email"]:focus{
	width: 260px;
	border: 2px solid #fca311;

}
#hero-container{
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}
.button{
	border: 0;
	display: block;
	height: 38px;
	width: 140px;
	color: black;
	border-radius: 24px;
	cursor: pointer;
	font-family: inherit;
	font-size: 15px;
	text-transform: uppercase;
	background-color: #fca311;
	transition: 0.5s;
	padding: 10px;
	font-weight: 600;
}
.button:hover{
	color: white;
	width: 160px;
}
#features{
	width: 60%;
	margin: 0 auto;
	padding-top: 80px;
}
.section-header{
	font-size: 3rem;
}
#features .icon{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 125px;
	width: 20vw;
	color: #fca311;
}
#features .desc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 125px;
	width: 80vw;
}
.grid{
	display: flex;
}
.desc h2{
	font-size: 1.5rem;
	margin-bottom: 10px;
}
.desc p{
	line-height: 1.3rem;
}
#video-product{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 80px auto 0;
}
#video{
	margin: 45px auto 0;
}
#pricing{
	width: 60%;
	margin: 0 auto;
	padding-top: 80px;
}
#pricing-container{
	margin-top: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product{
	width: 350px;
	border: 2px solid black;
	border-radius: 15px;
	margin-right: 20px;
	text-align: center;
}
.label{
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
	text-transform: uppercase;
}
.label h3{
	font-weight: 600;
}
.product-desc h2{
	margin: 50px;
}
.product-desc li{
	list-style: none;
	line-height: 2rem;
}
.product-desc button{
	margin: 20px auto;
}
#about{
	width: 60%;
	margin: 0 auto;
	padding: 100px;
}
#about-container{
	border-radius: 10px;
	margin-top: 45px;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.3);
}
#about-container h2{
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer{
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 20px 0;
}
#footer ul{
	margin-bottom: 2px;
	list-style: none;
	display: flex;
}
#footer li{
	margin-right: 20px;
}
#footer a{
	font-size: 0.9rem;
	color: white;
	transition: 0.5s;
}
#footer a:hover{
	color: #fca311;
}
#footer p{
	font-size: 0.8rem;
	margin-right: 20px;
	color: rgba(225, 225, 225, 0.6);
}

/*Media Responsive*/

@media (max-width: 960px){
	p{
		font-size: 0.9rem;
	}
	#header{
		display: none;
	}
	#header-mobile{
		display: block;
		position: fixed;
		background-color: #fca311;
		width: 100%;
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
	}
	#header-nav{
		display: flex;
		justify-content: space-between;
	}
	#header-img{
		width: 45px;
		margin-top: 20px;
		margin-left: 20px;
	}
	#nav-bar{
		display: none;
	}
	#hamburger-menu{
		display: block;
		color: black;
		font-size: 1.2rem;
		margin: 20px;
		padding: 4px 7px;
		border: 1px solid black;
		border-radius: 5px;
		transition: 0.5s;
	}
	#hamburger-menu:hover{
		background-color: white;
	}
	#mobile-nav{
		transition: 0.5s;
	}
	#mobile-nav ul{
		margin-top: 30px;
		margin-left: 20px;
	}
	#mobile-nav li{
		list-style: none;
		margin-bottom: 20px;
	}
	#mobile-nav a{
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		transition: 0.5s;
	}
	#mobile-nav a:hover{
		color: white;
	}
	#img-banner{
		margin-top: 60px;
	}
	#hero{
		margin: 50px 0px;
		text-align: center;
	}

	#hero h2{
		font-size: 22px;
	}
	#hero input[type="email"]{
		width: 180px;
		padding: 5px;
		font-size: 0.9rem;
	}
	#hero input[type="email"]:focus{
		width: 200px;
		border: 2px solid #fca311;
	}
	#hero-container{
		padding: 40px;
		background-color: rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}
	.button{
		height: 30px;
		width: 120px;
		font-size: 12px;
		padding: 0px;
	}
	.button:hover{
		color: white;
		width: 140px;
	}
	#features{
		width: 90%;
	}
	.section-header{
		font-size: 2rem;
	}
	#features .icon{
		margin: 40px;
		height: 50px;
		width: 20vw;
	}
	#features .desc{
		height: 125px;
		width: 80vw;
	}
	.grid{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.desc h2{
		font-size: 1.2rem;
		margin-bottom: 10px;
	}
	.desc p{
		line-height: 1.3rem;
	}
	#video-product{
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: 80px auto 0;
}
	#video{
		margin: 45px auto 0;
		width: 320px;
		height: 240px;
	}
	#pricing{
		width: 90%;
		margin: 0 auto;
		padding-top: 80px;
	}
	#pricing-container{
		width: 90%;
		margin: 45px auto;
		flex-direction: column;
		}
	.product{
		width: 250px;
		margin: 0 auto 20px;
	}
	#about{
		width: 90%;
		margin: 0 auto;
		padding: 0px;
	}
	#about-container{
		border-radius: 10px;
		margin: 45px auto;
		padding: 20px;
	}
	#footer a{
		font-size: 0.7rem;
	}
	#footer p{
		font-size: 0.7rem;
	}

}